.he {
  color: orange;
  font-family: sans-serif;
  font-size: medium;
  font-weight: bold;
  font-size: 15px;
  align-content: space-between;
}
.he2 {
  padding-top: 20px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
}

.para {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: medium;
  padding-top: 20px;
}
.am2 {
  padding-top: 10px;
  font-size: 14px;
  color: dimgray;
}
.img1 {
  padding-left: 50px;
}

.over {
  padding-left: 40px;
  padding-bottom: 10px;
  gap: 1px;
  margin-bottom: 20px;
}
.over:hover {
  width: 100px;
  height: 100px;
}
